body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #006442;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  nav {
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav a {
    font-weight: bold;
    color: #ffd8d8;
    font-size: 20px;
    text-decoration: dotted;
    padding: 10px;
    margin: 0 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    color: orange;
  }
  
  .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  nav li:hover .submenu {
    display: block;
  }
  
  .submenu a {
    display: block;
    padding: 10px;
    color: #333;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav a {
      margin: 5px 0;
    }
  
    .submenu {
      position: static;
      display: none;
    }
  }
  
  /* Add these styles to your existing CSS file */
.shirts-blouses {
    background-color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  .shirts-blouses h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .shirt-blouse-item {
    margin-bottom: 30px;
  }
  
  .shirt-blouse-item img {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .shirt-blouse-item h3 {
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  .shirt-blouse-item p.description {
    font-size: 1.2em;
    color: #333;
    margin-top: 5px;
  }
  
  .shirt-blouse-item p.price {
    font-size: 1.2em;
    color: #006442;
    margin-top: 5px;
  }
  
  .shirt-blouse-item a {
    display: inline-block;
    background-color: #006442;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .shirt-blouse-item a:hover {
    background-color: #004327;
  }
  